<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的特权</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="__CSS__/mobile_module.css?v={:SITE_VERSION}" media="all">
    <script type="text/javascript">
        //静态变量
        var SITE_URL = "{:SITE_URL}";
        var IMG_PATH = "__IMG__";
        var STATIC_PATH = "__STATIC__";
        var WX_APPID = "{$jsapiParams.appId}";
        var WXJS_TIMESTAMP='{$jsapiParams.timestamp}'; 
        var NONCESTR= '{$jsapiParams.nonceStr}'; 
        var SIGNATURE= '{$jsapiParams.signature}';
    </script>
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="minify.php?f=__JS__/prefixfree.min.js,__JS__/m/dialog.js,__JS__/m/flipsnap.min.js,__JS__/m/mobile_module.js&v={:SITE_VERSION}"></script>
</head>
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div id="container" class="container body">
    	<!--<div class="common_header">
        	<a class="back" href="javascript:;" onClick="history.back()"></a>
            <span>我的特权</span> 
        </div>-->
        <ul class="toggle_list" style="margin-top:10px">
        <volist name='lists' id="vo">
        	<li class="single_item m_15 p_10 toggle_list_open">
            	<div class="title icon_arrow_right">
                	<img width="30" class="fl mr_10" src="{:ADDON_PUBLIC_PATH}/privilege.png"/>
                	<p class="t_color"><strong>{$vo.title}</strong></p>
                </div>
                <div class="content" style="margin-top:0">
                	<p>{$vo.intro}</p>
                	<p class=" colorless">有效期：{$vo.start_time|day_format} - {$vo.end_time|day_format}</p>
                    <p>状态: <if condition="$vo['enable'] eq true"><img style="vertical-align:-6px" src="__IMG__/yes.png" height="20"/>可用<else/><img style="vertical-align:-6px" src="__IMG__/error.png" height="20"/>不可用</if></p>
                </div>
            </li>
            </volist>
        </ul>   	
        <if condition="empty($lists)" >
        	<div class="empty_default">
            	<br/><br/>
            	<p><img src="__IMG__/empty_content.png"/><br/>没有任何特权~</p>
            </div>
        </if>
        <p class="copyright">{$system_copy_right}</p>
          
    </div>
</body>
<script type="text/javascript">
</script>
</html>
